@media screen and (max-width: 768px) {
  .graphdialog.rounded {
    box-sizing: border-box;
    width: calc(100vw - 20px);
    left: 10px !important;
    transform: none !important;
  }
  .graphdialog.rounded * {
    transform: none !important;
  }
  .graphdialog.rounded input {
    flex: 1;
  }
  .comfy-modal-content {
    overflow: auto !important;
  }
  .comfy-modal-content .cm-menu-container {
    padding-bottom: 35px;
  }
  .comfy-menu {
    box-sizing: border-box;
    top: calc(100% - 74px) !important;
    width: 100vw;
    border-radius: 8px 8px 0 0;
  }
  .comfy-menu .drag-handle {
    overflow: visible !important;
  }
  #queue-button {
    margin: 8px 0 !important;
  }
  .comfy-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: 100vh;
    bottom: 0;
    width: 100vw;
    height: 280px;
  }
  .comfy-menu.show {
    top: auto !important;
    bottom: 0 !important;
    transition: all 0.5s;
  }
  .comfy-menu.show::after {
    top: auto;
    height: 0;
    transition: height 0.5s cubic-bezier(1, 0, 1, 0);
  }
  .comfy-menu-btns button {
    font-size: 18px;
  }

  .litegraph.litecontextmenu.litemenubar-panel {
    box-sizing: border-box;
    width: calc(100vw - 20px);
    left: 10px !important;
    top: 60px !important;
    transform: none !important;
    max-height: 80vh;
    overflow: auto;
    padding: 1em 0.5em;
    border-radius: 8px;
  }
  .litegraph.litecontextmenu.litemenubar-panel * {
    transform: none !important;
  }
  .litegraph .litemenu-entry,
  .litemenu-title {
    font-size: 16px;
  }
  .comfy-multiline-input:focus {
    top: 60px !important;
    left: 10px !important;
    box-sizing: border-box !important;
    width: calc(100vw - 20px) !important;
    padding: 0.5em !important;
    min-height: 7em !important;
    height: auto !important;
    font-size: 16px !important;
    transform: none !important;
  }
}
